<title>TinyApp</title>

<% if (username) { %>
      <p><%= username %></p>
      <form action="/logout" method="POST" style="margin:10px 20px;">
        <input type="submit" value="Logout">
      </form> <% ; %>
    <% } else { %>
      <form action="/login" method="POST" style="margin:10px 20px;">
        <input id="username" type="text" name="username" placeholder="username" style="width: 300px">
        <input type="submit" value="Login">
      </form> <% ; %>
    <% } %>
