<title>TinyApp</title>

<form action="/login" method="POST" style="margin:10px 20px;">
  <input id="username" type="text" name="username" placeholder="username" style="width: 300px">
  <input type="submit" value="Submit">
</form>
