<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>

  <ul>
    <% for (var i = 0; i < urls.length; i++) { %>
    <li><%= urls[i].url %>, <%= urls[i].id %></li>
    <a href="/urls/<%= urls[i].id %>">Edit</a>
    <form action="/urls/<%= urls[i].id %>/delete" method="POST" style="margin:10px 0;"><input type="submit" value="Delete"></form>
    <% } %>
  </ul>

</body>
</html>
