<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_header %>
  </head>
  <body>

    <form action="/register" method="POST">
      <input type="email" name="email" placeholder="email" style="width: 300px"><br />
      <input type="password" name="password" placeholder="password" style="width: 300px"><br />
      <input type="submit" value="Register">
    </form>

  </body>
</html>
